.highlightName{
    color:mediumblue;
    cursor: pointer;
}

.homePage {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #36454F;
}

canvas{
    height: 270px !important;
    width: 270px !important;
}