<div class="container-fluid homePage">
  <div class="row ">
    <div class="col-md-1 mt-2 mb-5">
      <i class="bi bi-house-door-fill text-white" style="font-size: 2rem;"></i>
    </div>
    <div class="col-md-11 mt-2 mb-5">
      <div class="text-info display-4 text-center">SITOUT PEDA TROPHY</div>
    </div>
  </div>
  <div class="row col-md-12 text-center">
    <div class="col-md-6">
      <div class="col-md-12 mb-4">
        <span class="text-white ">Total Matches played : </span>
        <span class="text-white ">{{totalMatches}}</span>
      </div>
      <div class="table table-bordered">
        <thead>
          <tr>
            <th class="text-white text-center border-bottom-0 font-weight-lighter">Name</th>
            <th class="text-white text-center border-bottom-0 font-weight-lighter">Wins</th>
            <th class="text-white text-center border-bottom-0 font-weight-lighter">Losses</th>
            <th class="text-white text-center border-bottom-0 font-weight-lighter">Did not play</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="color: dodgerblue; cursor: pointer;" (click)="openDialog(data[0].Name)">{{data[0].Name}}</td>
            <td style="color: dodgerblue; ">{{data[0].Wins}}</td>
            <td style="color: dodgerblue; ">{{data[0].Losses}}</td>
            <td style="color: dodgerblue; ">{{data[0].DNP}}</td>
          </tr>
          <tr>
            <td style="color: magenta; cursor: pointer;" (click)="openDialog(data[1].Name)">{{data[1].Name}}</td>
            <td style="color: magenta; ">{{data[1].Wins}}</td>
            <td style="color: magenta; ">{{data[1].Losses}}</td>
            <td style="color: magenta; ">{{data[1].DNP}}</td>
          </tr>
          <tr>
            <td style="color: yellowgreen; cursor: pointer;" (click)="openDialog(data[2].Name)">{{data[2].Name}}</td>
            <td style="color: yellowgreen;">{{data[2].Wins}}</td>
            <td style="color: yellowgreen;">{{data[2].Losses}}</td>
            <td style="color: yellowgreen;">{{data[2].DNP}}</td>
          </tr>
        </tbody>
      </div>

    </div>
    <div class="col-md-6">
      <div class="row col-md-12 mb-2">
        <div class="col-md-4 card-body  mr-2" style="cursor: pointer;" [ngClass]="{'bg-success': isSelectedWin,'bg-info':!isSelectedWin}" (click)="setSuccessData()">
          <label class="text-white lead" for="win">Win %</label><br>
        </div>
          <div class="col-md-4 card-body"  style="cursor: pointer;" [ngClass]="{'bg-success': isSelectedLoose,'bg-info':!isSelectedLoose}" (click)="setFailureData()">
            <label class="text-white lead" for="loss">Loss %</label><br>
          </div>        

      </div>
      <div class="row col-md-12">
        <div class="col-md-8">
          <div >
            <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels"
              [colors]="chartColors" [options]="chartOptions" [legend]="false" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="text-left">
            <li style="color: dodgerblue;">ANNAN</li>
            <li style="color: magenta;">RASHI</li>
            <li style="color: yellowgreen;">APPUNNI</li>
          </ul>
        </div>
      </div> 


    </div>
  </div>

</div>