<div class="homePage">
    <div class="heading">
        <img src="../../../assets/dream11.png" alt="Dream 11 game">
        <h2>DREAM 11</h2>
    </div>
    <hr>
    <div class="icons">
        <div class="personalDetail">
            <div data-role="tile" data-size="medium" data-effect="hover-zoom-right" (click)="navigateToChild('myInfo')">
                <div class="slide-front">
                    <img src="../../../assets/Info.jpg" class="h-100 w-100">
                </div>
                <div class="slide-back d-flex flex-justify-center flex-align-center p-4 op-mauve">
                    <p class="text-center">
                        MY INFO
                    </p>
                </div>

            </div>

        </div>
        <div class="sitoutPeda">
            <div data-role="tile" data-size="medium" data-effect="hover-zoom-right" (click)="navigateToChild('sitoutPeda')">
                <div class="slide-front">
                    <img src="../../../assets/peaky.jfif" class="h-100 w-100">
                </div>
                <div class="slide-back d-flex flex-justify-center flex-align-center p-4 op-mauve">
                    <p class="text-center">
                        SITOUT PEDA
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>