<div class="homePage container-fluid">
    <div class="row divideSection">
        <div class="col-lg-2 sideTab">
            <div class="row">
                <div class="col-sm-4">
                    <img src="../../../assets/dream11.png" alt="Dream 11 game">
                </div>
                <div class="col-sm-8">
                    <h2 class="text-white pull-left">My App</h2>
                </div>
            </div>
            <div class="row mt-5" >
                <div class="col-sm-3">
                    <i class="bi bi-trophy text-white" style="font-size: 2rem;"></i>
                </div>
                <div class="col-sm-9">
                    <h3 class="text-white " (click)="navigateToChild('sitoutPeda')">SITOUT PEDA</h3>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-3">
                    <i class="bi bi-person-circle text-white" style="font-size: 2rem;"></i>
                </div>
                <div class="col-sm-9">
                    <h3 class="text-white" (click)="navigateToChild('myInfo')">MY INFO</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="row text-right">
                <div class="col-lg-11">
                    <h2 class="text-white">VISAKH</h2>
                </div>
                <div class="col-lg-1 pic">
                    <img src="../../../assets/Vis.jpg" style="height: 50px;" alt="Visakh">
                </div>
            </div>
            <div class="row">
                <h2 class="text-white">DASHBOARD</h2>
            </div>
            <!-- BOXES -->
            <div class="row">
                <div class="col-lg-4">

                    <div class="card bg-info" style="max-width: 18rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <i class="bi bi-receipt" style="font-size: 1.5rem;"></i>
                                </div>
                                <div class="col-md-8 text-right">
                                    317
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    MATCHES PLAYED
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-lg-4">
                    <div class="card bg-success" style="max-width: 18rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <i class="bi bi-emoji-sunglasses" style="font-size: 1.5rem;"></i>
                                </div>
                                <div class="col-md-8 text-right">
                                    145
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    WINS
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card bg-danger" style="max-width: 18rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <i class="bi bi-emoji-frown" style="font-size: 1.5rem;"></i>
                                </div>
                                <div class="col-md-8 text-right">
                                    172
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    LOSSES
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pull-right chart">
                        <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels"
                        [colors]="chartColors" [options]="chartOptions" [legend]="false"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="col-md-6">
                    <ul>
                        <h3>
                            <li style="color: #00c851;">
                                Win %
                            </li>
                        </h3>
                        <h3>
                            <li style="color: #ff3547;">
                                 Loss %
                            </li>
                        </h3>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>

   
</div>