.homePage {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #36454F;
}
img{
    border-radius: 35%;
}

.sideTab{
    background-color: #353935;
}

.divideSection{
    height: 100%;
}

canvas{
    height: 270px !important;
    width: 270px !important;
}

.chart{
    display: flex;
    flex-direction: row-reverse;
}

