<div class="container">
  <div class="row col-md-12">
    <h1 mat-dialog-title>PLAYER DETAILS</h1>
  </div>

  <div class="row col-md-12" mat-dialog-content>
    <div class="row col-md-12" *ngIf="getSelectedProfile.Name == 'Annan'">
      <img class="col-md-5 alignPic" src="../../../assets/Kriparth.jpg" alt="Annan">
      <mat-label class="col-md-2 ">{{getSelectedProfile.Name}}</mat-label>
      <img class="col-md-5 alignPic" src="../../../assets/csk.jpg" alt="CSK">
    </div>
    <div class="row col-md-12" *ngIf="getSelectedProfile.Name == 'Rashi'">
      <img class="alignPic col-md-5" src="../../../assets/Rashi.jpg" alt="Rashi">
      <mat-label class="col-md-2">{{getSelectedProfile.Name}}</mat-label>
      <img class="col-md-5 alignPic" src="../../../assets/csk.jpg" alt="CSK">
    </div>
    <div class="row col-md-12" *ngIf="getSelectedProfile.Name == 'Appunni'">
      <img class="col-md-5 alignPic" src="../../../assets/Visakh.jpg" alt="Appunni">
      <mat-label class="col-md-2">{{getSelectedProfile.Name}}</mat-label>
      <img class="col-md-5 alignPic" src="../../../assets/kkr.jpg" alt="KKR">
    </div>

    <div class="row col-md-12">
      <div class="card bg-info col-md-3 mr-1">
        <div class="card-body">
          <div class="row">
            <mat-label>Total Matches</mat-label>
            <mat-label class="valueField">{{getSelectedProfile.Matches}}</mat-label>
          </div>
        </div>
      </div>
      <div class="card bg-info col-md-3 mr-1">
        <div class="card-body">
          <div class="row">
            <mat-label>Wins</mat-label>
            <mat-label class="valueField">{{getSelectedProfile.Wins}}</mat-label>
          </div>
        </div>
      </div>
      <div class="card bg-info col-md-3 mr-1">
        <div class="card-body">
          <div class="row">
            <mat-label>Loss</mat-label>
            <mat-label class="valueField">{{getSelectedProfile.Losses}}</mat-label>
          </div>
        </div>
      </div>
    </div>

    <div class="row col-md-12">
      <div class="card bg-info col-md-3 mr-1">
        <div class="card-body">
          <div class="row">
            <mat-label>Did Not Play</mat-label>
            <mat-label class="valueField">{{getSelectedProfile.DNP}}</mat-label>
          </div>
        </div>
      </div>
      <div class="card bg-info col-md-3 mr-1">
        <div class="card-body">
          <div class="row">
            <mat-label>Money spent(Rs)</mat-label>
            <mat-label class="valueField">{{getSelectedProfile.MoneySpent}}</mat-label>
          </div>
        </div>
      </div>
      <div class="card bg-info col-md-3 mr-1">
        <div class="card-body">
          <div class="row">
            <mat-label>Prize money(Rs)</mat-label>
            <mat-label class="valueField">{{getSelectedProfile.MoneyWon}}</mat-label>
          </div>
        </div>
      </div>
      
    </div>


    <div class="row col-md-12">
      <div class="card bg-info col-md-3 mr-1">
        <div class="card-body">
          <div class="row">
            <mat-label>Highest point</mat-label>
            <mat-label class="valueField">{{getSelectedProfile.HighestPoint}}</mat-label>
          </div>
        </div>
      </div>
      <div class="card bg-info col-md-3 mr-1">
        <div class="card-body">
          <div class="row">
            <mat-label>Lowest point</mat-label>
            <mat-label class="valueField">{{getSelectedProfile.LowestPoint}}</mat-label>
          </div>
        </div>
      </div>
      
    </div>


  </div>
</div>